<!-- About / Srart
================================================== -->
<section class="about" style="margin-top:3em;">

	<div class="container">	
		<!-- About us text -->
		<div class="eight columns">
			<div class="meet-us">
				<h2>关于 yunsu-web.herokuapp</h2>
				<p class="bigger"><strong>Partem corrumpit ut qui, mei at magna paulo! Nam brute audiam adipisci ei!
				Ates quaeque dignissim pri vero eos aliquam eam no, nobis moderatius. </strong> </p>
				
				<p class="bigger">Ut sit nisl consul ullamcorpers te, mel summo argu antum cu. Id civibus nominavi 
				inciderint sea, sit hinc consequat cu, sea ut inani iusto putent quisque semper justo at risus.
				Mei id ferri feugait, eos intellegebat zril splendide has. Nam ultricies dolor eu velit varius scelerisque.
				Vestibulum in lacus in felis pretium feugiat non sed elit. Duis pretium, urna sed pellentesque tincidunt.</p>
			</div>
		</div>		
	</div>	
	
		
	<div class="fullwidth">
		<div class="container">	
			<div class="one-third column">
				<h3>Our Mission</h3>
				<p>Partem corrumpit ut qui, mei at magna paulo! Nam brute audiam adipisci ei! 
				Ates quaeque dignissim pri, vero aliquam eam no, nobis moderatius consequuntur ut est! 
				Ut sit nisl consul ullamcorper, ne falli soleat neque massa imperdiet meliore sit an dicta posidonium mei, 
				sea at recteque hendrerit evertitur.</p>
			</div>
			
			<div class="one-third column">
				<h3>Our Experiences</h3>
				<p>Nam ultricies dolor eu velit varius scelerisque. Vestibulum in lacus in felis pretium feugiat non sed elit. 
				Duis pretium, urna sed pellentesque tincidunt, neque massa imperdiet nisi, sed cursus leo magna pretium elit. 
				Proin bibendum ipsum a ante viverra lobortis. Phasellus id augue ligula, nec ultrices augue. </p>
			</div>
			
			<div class="one-third column">
				<h3>Our Disciplines</h3>
				<p>Nam ultricies dolor eu velit varius scelerisque. Vestibulum in lacus in felis pretium feugiat non sed elit. 
				Duis pretium, urna sed pellentesque tincidunt, neque massa imperdiet nisi, sed cursus leo magna pretium elit. 
				Proin bibendum ipsum a ante viverra lobortis. Phasellus id augue ligula, nec ultrices augue. </p>
			</div>
			
		</div>
	</div>

	

	<div class="container">
		
		<article class="our-process">
			<div class="sixteen columns">
				<h2>How We Work?</h2>
			</div>
			
			<div class="one-third column">
				<figure class="process">
					<img src="images/icons/search.png" alt="" />
					<figcaption>
						<h5>1. Research</h5>
						<p>Vero aliquam eam no, nobis moderatius consequuntur ut est</p>
					</figcaption>
				</figure>
			</div>
			
			<div class="one-third column">
				<figure class="process">
					<img src="images/icons/tablet.png" alt="" />
					<figcaption>
						<h5>2. Concept</h5>
						<p>Vero aliquam eam no, nobis moderatius consequuntur ut est</p>
					</figcaption>
				</figure>
			</div>
			
			<div class="one-third column">
				<figure class="process">
					<img src="images/icons/note.png" alt="" />
					<figcaption>
						<h5>3. Design</h5>
						<p>Vero aliquam eam no, nobis moderatius consequuntur ut est</p>
					</figcaption>
				</figure>
			</div>
			
		</article>
		
	</div>
		

</section>
<!-- About / End
================================================== -->
