<section>
  <div class="container">
		<div class="sixteen columns"><div class="separator nb"><h3>统计</h3></div></div>
		<table class="default-table">
			<tr>
				<th>用户数</th>
				<th>当日收入</th>
				<th>当月收入</th>
				<th>当月支出</th>
			</tr>
			<tr>
				<td><%= @user_count %></td>
				<td><%= @daily_income %> 元</td>
				<td><%= @income %> 元</td>
				<td><%= @expense %> 元</td>
			</tr>		
		</table>
	</div>
</section>
<!-- adm / End -->
