<!-- Pricing demotion / Srart -->
<section id="pricing-tables" style="padding-top:15px">
	<div class="container">		
		<div class="sixteen columns" style="margin-left:0"><div class="separator nb" style="padding-bottom:5px"><h2>您确定降级套餐？</h2></div></div>			
			<h3 style="line-height:26px">套餐降级后，获取的流量将会相应的减少，同时使用的设备数量也会减少；<br/>
			<span style="color:#fc6264">降级套餐不补偿差价，请谨慎操作！</span></h3>
		<div style="height:1px;border-bottom:1px dotted #EBEBEB;margin:20px 0;clear:both"></div>		
		<form method="post">
			<input type="submit" class="four columns fill afff" style="font-size: 17px; font-weight: bold; margin:0 !important;border:none;cursor:pointer;font-family:Lato, Microsoft YaHei, sans-serif;" value="确定降级" />
		</form>
	</div>
</section>
<!-- Pricing demotion / End -->