<!-- faq / Srart -->
<section class="faq" style="padding-top:55px">
	<div class="container">

		<div class="sixteen columns">
			<h2 style="margin-bottom:15px">常见问题</h2>
			<div class="toggle">
				<a href="#" class="toggle-trigger">云速使用简单吗？</a>
				<div class="toggle-content"><p>我对董小姐发誓，再也没有比云速更简单的 科-学-上-网 服务了。您只需要注册云速购买套餐，然后用此帐号和密码登录客户端就能享受无拘无束的上网服务了。</p></div>
			</div>
			
			<div class="toggle">
				<a href="#" class="toggle-trigger">不能正常使用客户端？</a>
				<div class="toggle-content"><p>请关闭360相关的软件，特别是360安全卫士和360杀毒软件。什么？你不知道360是盲流中的流氓之王吗？</p></div>
			</div>
		 
			<div class="toggle">
				<a href="#" class="toggle-trigger">无法正常使用云速的服务？</a>
				<div class="toggle-content">
					<p>1、请务必核对您的帐号和密码是否正确。<br/>2、请登录后台查看，是否流量用完或者套餐过期。<br/>3、请检查是否使用了其他科学上网服务，如果有，请关闭它。<br/>4、如果是服务器本身的问题，请发送邮件向客服反馈 i@qinix.com 。</p>
				</div>
			</div>
		
			<div class="toggle">
				<a href="#" class="toggle-trigger">个别的网站还是无法打开？</a>
				<div class="toggle-content">
					<p>在客户端中输入你想自定义的网址，看是否能打开网站了。如果还不能那就是该网站本身的问题，默哀。</p>
				</div>
			</div>
		
			<div class="toggle">
				<a href="#" class="toggle-trigger">为什么看 1080P 视频会卡？</a>
				<div class="toggle-content">
					<p>云速提供的网络速度非常快，别说是1080P，就算是 <a href="http://baike.baidu.com/view/8858425.htm" target="_blank">4000P (4K)</a> 也不在话下。不过另一方面也同时取决于你自身的网络情况，如果你非得要用 1~4M 的宽带去收看 1080P 质量的视频，不然是不现实的……小带宽用户请选用普通（720p或者480p）的视频质量。</p>
				</div>
			</div>
			
			<div class="toggle">
				<a href="#" class="toggle-trigger">帐号可以同时几个人使用？</a>
				<div class="toggle-content">
					<p>为了保持稳定和提供更优秀的体验感觉，我们设定了设备的使用数量限制。<a href="/plan" target="_blank">点击此处</a>查看套餐能够同时使用的设备数量。</p>
				</div>
			</div>
			
			<div class="toggle">
				<a href="#" class="toggle-trigger">我还有其他的问题，怎么联系你们？</a>
				<div class="toggle-content">
					<p>1、<a href="/login">注册云速</a>，在后台提交工单。<br/>2、给我们的客服发送邮件 i@qinix.com 。</p>
				</div>
			</div>
		
		</div>
	
	</div>
</section>
<!-- faq / End -->
