<!-- forgetpass / Srart -->
<style type="text/css">
	.alert{margin:30px auto 0 auto}
</style>
<section class="about" style="padding-top:30px">
	<div class="container contcenter">
		<h2>重置您的密码</h2>
		<p class="bigger">输入你的邮箱地址，我们将发送一个包含密码重置连接的邮件到你的邮箱中。</p>
	</div>	
	<div class="container">
		<div class="login-form">
            <form method="POST">
				<div class="control-group">
				  <input type="text" name="email" class="login-field" value="" placeholder="" id="login-name" />
				  <label class="login-field-icon fui-user" for="login-name"></label>
				</div>
				<input class="widthfull btn btn-primary btn-large btn-block" style="margin-top:10px;" type="submit" value="重置密码" />
            </form>
		</div>
	</div>	
</section>
<!-- forgetpass / End -->