<!-- Revolution Slider / Start -->
<div class="fullwidthbanner-container">
	<div class="fullwidthbanner">
		<ul>		
			<!-- First Slide / -->
			<li data-transition="slideup" data-delay="13000">
				<img src="images/slides/bg1.jpg" />
				<div class="caption lfl" data-x="-22" data-y="20" data-speed="800" data-start="450" data-easing="easeOutExpo">
					<img src="images/slides/mbp.png" alt="" />
				</div>
				<div class="caption large_thin dark sft" data-x="590" data-y="80" data-speed="500" data-start="1100" data-easing="easeOutExpo">
					<p style="font-weight:bold">
						<span style="line-height:50px;font-size:28px">畅游网络，无需等待！</span><br/>
						<span style="line-height:50px">开阔视界，即刻到来！</span>
					</p>
				</div>
				<div class="caption small_thin dark sft" data-x="590" data-y="200" data-speed="700" data-start="1200" data-easing="easeOutBack">
					<p style="font-weight:bold">
						<span style="line-height:20px">音乐电台，最新美剧，公开课学习资料，甚至是任何你所需要的</span><br/>
						<span style="line-height:20px">使用云速，享受自由和精彩。</span><br/><br/>
						<a href="plan" class="btn btn-large btn-block btn-primary">畅游世界 立即购买</a>
					</p>					
				</div>
			</li>
		</ul>
		<div class="tp-bannertimer"></div>
	</div>
</div>
<!-- Revolution Slider / End -->

<div class="container">
	<!-- Services / Srart -->
	<div class="two-thirds column">
		<ul class="serviceboxes">		
			<li>
				<div class="service-icon"><img src="images/icons/unused/check.png" /></div>
				<h3>开阔视界 即刻到来</h3>
				<p>任何时候任何地点，仅需三步即可畅游丰富多样的互联网，享受最棒的网络新体验。</p>
			</li>			
			<li>
				<div class="service-icon"><img src="images/icons/responsive.png" /></div>
				<h3>随时随地 随心享用</h3>
				<p>无论是 Mac、Windows、iOS、Android，无论是 WiFi、3G，都能够随时随地随心享用。</p>
			</li>			
			<li>
				<div class="service-icon"><img src="images/icons/unused/speed.png" /></div>
				<h3>极速体验 畅通无阻</h3>
				<p>云速拥有超快的速度，多线路自由切换，更有智能分流技术，畅游网络享受精彩。</p>
			</li>			
			<li>
				<div class="service-icon"><img src="images/icons/unused/ui.png" /></div>
				<h3>一个帐号 全家共享</h3>
				<p>只需一个帐号，便可和家人共同使用，让家中每位成员都能够享受超凡的网络体验。</p>
			</li>				
		</ul>
	</div>
	<!-- Services / End -->

	<!-- Why we? / Srart -->
	<div class="one-third column tabletfull">
		<div class="notice">
			<h3>值得你选择的云速</h3>
			<ul class="check-list">
				<li>我们为你带来稳定、快速、无障碍的网络加速</li>
				<li>简单易用，云速总能让你快速开始</li>
				<li>高强度的加密传输，全心保护你的上网安全</li>
				<li>国际网智能分流加速，享受无缝切换，省时省心</li>
				<li>超高性价比，花少量的钱获取高水准的优秀服务</li>
			</ul>
		</div>
	</div>
	<!-- Why we? / End -->	
</div>
