<!-- Pricing Tables / Srart
================================================== -->
<section id="pricing-tables">

	<!-- 3 Tables -->
	<div class="container">		
		<div class="sixteen columns" style="margin-left:0"><div class="separator nb" style="padding-bottom:5px"><h2>重置您的密码</h2></div></div>			
			<h3 style="line-height:26px">请在下面输入您的新密码<br/><br/>
			<form id="serviceform" name="serviceform" action="" method="post">
				<div class="container">
         <div class="login-form" style="margin:0 !important;">
            <div class="control-group">
            	<p>输入新的密码</p>	
              	<input name="password" type="password" class="login-field" value="" placeholder="" id="new-pass" />
            </div>

            <div class="control-group">
            	<p>确认新的密码</p>	
              	<input type="password" class="login-field" value="" placeholder="" id="new-pass-com" />
            </div>

            <input type="submit" class="widthfull btn btn-primary btn-large btn-block" style="margin-top:10px;" value="修改密码" />
         </div>
			</form>
		<div style="height:1px;border-bottom:1px dotted #EBEBEB;margin:20px 0;clear:both"></div>
		

	</div><!-- / Container -->
</section>
<!-- Pricing Tables / End
================================================== -->
