<!-- Signup / Srart -->
<style type="text/css">
	.alert{margin:30px auto 0 auto}
</style>
<section class="about" style="padding-top:30px">
	<div class="container contcenter">
		<h2>创建云速帐号</h2>
		<p class="bigger">开阔视界，即刻到来！</p>
	</div>	

	<div class="login-form">
		<form method="POST">
          	<div class="control-group">
            	<p>E-Mail 地址</p>
              	<input type="email" class="login-field" value="" placeholder="" name="email" />
            </div>
            <div class="control-group">
            	<p>输入密码</p>	
              	<input type="password" class="login-field" value="" placeholder="" name="password" />
            </div>
            <div class="control-group">
            	<p>确认密码</p>	
              	<input type="password" class="login-field" value="" placeholder="" name="password_confirm" />
            </div>
            <input type="submit" class="widthfull btn btn-primary btn-large btn-block" style="margin-top:10px;" name="submit" value="注册" />
            <a class="login-link" href="/login">已经有帐号了，我要登录</a>
		</form>
	</div>
</section>
<!-- Signup / End -->