<section>
  <div class="container">
		<div class="sixteen columns"><div class="separator nb"><h3>检查你的账户安全</h3></div></div>
		<div style="font-size:15px;font-weight:bold;">如果您需要修改密码，或者认为账户不够安全，可以在下面设置新的密码。</div>
		<br/>
		<div class="login-form" style="margin:0 !important">
			<form method="POST">
				<div class="control-group">
					<p>输入新的密码</p>	
					<input type="password" class="login-field" value="" placeholder="" name="newpwd" />
				</div>
				<div class="control-group">
					<p>确认新的密码</p>	
					<input type="password" class="login-field" value="" placeholder="" name="newpwd-again" />
				</div>
				<input type="submit" value="修改密码" class="widthfull btn btn-primary btn-large btn-block"/>
			</form>
		</div>
		
	</div>
</section>
<!-- settings / End -->
