<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<style>
		html, body{background:#E5EDF0;font-family:Arial, Microsoft YaHei, sans-serif}
	</style>
</head>
<body>
<div marginheight="0" marginwidth="0" style="background-color:#e5edf0" bgcolor="#E5EDF0">
  <table cellpadding="0" cellspacing="0" bgcolor="#E5EDF0" style="width:100%">
    <tbody>
      <tr>
        <td bgcolor="#E5EDF0" style="vertical-align:top">
          <table cellpadding="0" cellspacing="0" align="center" style="margin-top:40px;width:600px">
            <tbody>
              <tr>
                <td width="100%" style="vertical-align:top;">
                  <table cellpadding="0" cellspacing="0" align="center" style="background-color:#348F8F;padding-top:15px;width:100%;border-radius: 10px;">
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;background-color:#348F8F!important">
                          <table cellpadding="0" cellspacing="0" align="center" style="width:560px">
                            <tbody>
                              <tr>
                                <td style="vertical-align:top;background-color:#348F8F!important">
                                  <h1 style="text-align:center;margin-bottom:14px;margin-top:0;font-weight:bold">
                                    <img src="/images/logo.png" alt="云速" title="云速"/>
                                  </h1>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;background-color:#ffffff">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="#FFFFFF" style="vertical-align:top;background-color:#ffffff">
                  <table cellpadding="0" cellspacing="0" align="center" style="width:560px">
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;padding-top:28px;padding-bottom:21px;background-color:#ffffff">
                          <p style="margin-bottom:0px;color:#333333;font-size:15px;line-height:21px;font-weight:normal;margin-top:0">
                            <strong>您的套餐即将到期，欢迎您继续使用！</strong>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td style="vertical-align:top;padding-bottom:0px;background-color:#ffffff;padding-top:0px!important">
                          <hr style="margin:0px;padding:0px;border:none;border-top:3px solid #F1F1F1">
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="#FFFFFF" style="vertical-align:top;background-color:#ffffff">
                  <table cellpadding="0" cellspacing="0" align="center" style="width:560px">
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;padding-top:21px;padding-bottom:21px;background-color:#ffffff">
                          <p style="margin-bottom:0px;color:#333333;font-size:13px;line-height:21px;font-weight:normal;margin-top:0">
                          </p>
                          <p style="margin-bottom:0px;color:#333333;font-size:14px;line-height:21px;font-weight:normal;margin-top:0">
                          您在云速的套餐将在<%= @deadline %>到期。请记得
                            <a style="color:#348F8F;" href="" target="_balnk">
                              及时续费
                            </a>
                            以免影响正常使用。我们将一如既往的为您提供最优秀的服务</br>
                            </br>
                            如果您使用中有任何问题，或者建议，也欢迎随时向我们反馈，我们将竭力帮助您！
                            支持邮箱：<a style="color:#348F8F;" href="mailto:i@qinix.com" target="_balnk">i@qinix.com</a>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td style="vertical-align:top;padding-bottom:0px;background-color:#ffffff;padding-top:0px!important">
                          <hr style="margin:0px;padding:0px;border:none;border-top:3px solid #F1F1F1">
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="#FFFFFF" style="vertical-align:top;background-color:#ffffff">
                  <table cellpadding="0" cellspacing="0" align="center" style="width:560px">
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;background-color:#ffffff">
                          <p style="margin-bottom:21px;color:#666666;font-size:13px;line-height:1.5em;font-weight:normal;margin-top:0;vertical-align:bottom">
                          </br>
                            <b>云速 — 畅游网络，只需三步！</b>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
			  <tr>
                <td width="100%" bgcolor="#FFFFFF" style="vertical-align:top;background-color:#f9f9f9">
					<table cellpadding="0" cellspacing="0" align="center" style="padding-top:20px;width:560px">
						<tbody>
						  <tr>
							<td style="vertical-align:top">
							  <p style="margin-bottom:21px;color:#999!important;font-size:12px;line-height:21px;font-weight:300;margin-top:0">
								此为系统邮件，请勿回复。
								</br>
								如有问题您可以到会员中心提交工单或者发送邮件到
								<a href="mailto:i@qinix.com" style="color:#aaaaaa!important;text-decoration:underline" target="_blank">i@qinix.com</a>
								寻求帮助
								</br>
								Copyright All Rights Reserved 
								<a href="" style="color:#aaaaaa!important;text-decoration:underline" target="_blank">yunsu-web.herokuapp.com</a>
							  </p>
							</td>
						  </tr>
						</tbody>
				  </table>
				</td>
              </tr>
			  <tr>
                <td width="100%" style="vertical-align:top;">
                  <table cellpadding="0" cellspacing="0" align="center" style="background:#dddddd;height:12px;width:100%;border-bottom-right-radius:10px;border-bottom-left-radius:10px">
                  </table>
                </td>
              </tr>
            </tbody>
          </table>          
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
