<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <style>
	html, body{background:#E5EDF0;font-family:Arial, Microsoft YaHei, sans-serif}
  </style>
</head>
<body>
<div marginheight="0" marginwidth="0" style="background-color:#e5edf0" bgcolor="#E5EDF0">
  <table cellpadding="0" cellspacing="0" bgcolor="#E5EDF0" style="width:100%">
    <tbody>
      <tr>
        <td bgcolor="#E5EDF0" style="vertical-align:top">
          <table cellpadding="0" cellspacing="0" align="center" style="margin-top:40px;width:600px">
            <tbody>
              <tr>
                <td width="100%" style="vertical-align:top;">
                  <table cellpadding="0" cellspacing="0" align="center" style="background-color:#348F8F;padding-top:15px;width:100%;border-radius: 10px;">
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;background-color:#348F8F!important">
                          <table cellpadding="0" cellspacing="0" align="center" style="width:560px">
                            <tbody>
                              <tr>
                                <td style="vertical-align:top;background-color:#348F8F!important">
                                  <h1 style="text-align:center;margin-bottom:14px;margin-top:0;font-weight:bold">
                                    <img src="http://yunsu-web.herokuapp.com/images/logo.png" alt="云速" title="云速"/>
                                  </h1>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;background-color:#ffffff">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="#FFFFFF" style="vertical-align:top;background-color:#ffffff">
                  <table cellpadding="0" cellspacing="0" align="center" style="width:560px">
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;padding-top:28px;padding-bottom:21px;background-color:#ffffff">
                          <p style="margin-bottom:0px;color:#333333;font-size:15px;line-height:21px;font-weight:normal;margin-top:0">
                            <strong>欢迎您加入云速。我们致力为您提供无缝的网络浏览。</strong>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td style="vertical-align:top;padding-bottom:0px;background-color:#ffffff;padding-top:0px!important">
                          <hr style="margin:0px;padding:0px;border:none;border-top:3px solid #F1F1F1">
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="#FFFFFF" style="vertical-align:top;background-color:#ffffff">
                  <table cellpadding="0" cellspacing="0" align="center" style="width:560px">
                    <thead>
                      <tr>
                        <td style="vertical-align:top;padding-top:18px;padding-bottom:14px;border-bottom:1px dotted #F0EDED;background-color:#ffffff">
                          <h3 style="font-size:15px;margin-bottom:0;margin-top:0;font-weight:bold">
                            <strong style="font-weight:bold">
                              以下是您的注册信息。
                            </strong>
                          </h3>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;padding-top:21px;padding-bottom:21px;background-color:#ffffff">
                          <p style="margin-bottom:0px;color:#333333;font-size:13px;line-height:21px;font-weight:normal;margin-top:0">
                          </p>
                          <p style="margin-bottom:0px;color:#333333;font-size:13px;line-height:21px;font-weight:normal;margin-top:0">
                          注册帐号：<%= @email %></br>
                            密码：您注册时设定的密码。
                            </br>
                            </br>
                            您可以立即在云速的网站进行登录：<a style="color:#348F8F;" href="http://yunsu-web.herokuapp.com" target="_balnk" >http://yunsu-web.herokuapp.com</a>
                            </br>
                            并且选购最适合您的套餐：<a style="color:#348F8F;" href="http://yunsu-web.herokuapp.com/plan" target="_balnk" >http://yunsu-web.herokuapp.com/plan</a>
                            
                          </p>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td style="vertical-align:top;padding-bottom:0px;background-color:#ffffff;padding-top:0px!important">
                          <hr style="margin:0px;padding:0px;border:none;border-top:3px solid #F1F1F1">
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="#FFFFFF" style="vertical-align:top;background-color:#ffffff">
                  <table cellpadding="0" cellspacing="0" align="center" style="width:560px">
                    <thead>
                      <tr>
                        <td style="vertical-align:top;padding-top:18px;padding-bottom:14px;border-bottom:1px dotted #F0EDED;background-color:#ffffff">
                          <h3 style="font-size:15px;margin-bottom:0;margin-top:0;font-weight:bold">
                            <strong style="font-weight:bold">
                              推荐您的朋友加入！
                            </strong>
                          </h3>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;padding-top:21px;padding-bottom:21px;background-color:#ffffff">
                          <p style="margin-bottom:0px;color:#333333;font-size:13px;line-height:21px;font-weight:normal;margin-top:0">
                          </p>
                          <p style="margin-bottom:0px;color:#333333;font-size:13px;line-height:21px;font-weight:normal;margin-top:0">
                            独乐乐不如众乐乐，您可以将云速提供的优秀服务推荐给您的家人或者朋友！指引他们通往网络的光明之路。
                          </br></br>
                            <strong>每推荐一位朋友购买云速的服务，您都可以获得相应的免费使用时间。</strong>
                          </br>
                            <a style="color:#348F8F;" href="http://yunsu-web.herokuapp.com/user/aff" target="_balnk">点击此处查看您的推荐链接。</a>
                            
                          </p>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td style="vertical-align:top;padding-bottom:0px;background-color:#ffffff;padding-top:0px!important">
                          <hr style="margin:0px;padding:0px;border:none;border-top:3px solid #F1F1F1">
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="#FFFFFF" style="vertical-align:top;background-color:#ffffff">
                  <table cellpadding="0" cellspacing="0" align="center" style="width:560px">
                    <thead>
                      <tr>
                        <td style="vertical-align:top;padding-top:18px;padding-bottom:14px;border-bottom:1px dotted #F0EDED;background-color:#ffffff">
                          <h3 style="font-size:15px;margin-bottom:0;margin-top:0;font-weight:bold">
                            <strong style="font-weight:bold">
                              需要我们的帮助？
                            </strong>
                          </h3>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;padding-top:21px;padding-bottom:21px;background-color:#ffffff">
                          <p style="margin-bottom:0px;color:#333333;font-size:13px;line-height:21px;font-weight:normal;margin-top:0">
                          </p>
                          <p style="margin-bottom:0px;color:#333333;font-size:13px;line-height:21px;font-weight:normal;margin-top:0">
                            无论任何时候，您如果对使用云速有问题，我们都非常乐意帮助您。
                          </br>
                            您可以通过 <a style="color:#348F8F;" href="#" target="_balnk">会员中心</a> 的技术支持来提交您的问题，并与我们取得联系。
                          </p>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td style="vertical-align:top;padding-bottom:0px;background-color:#ffffff;padding-top:0px!important">
                          <hr style="margin:0px;padding:0px;border:none;border-top:3px solid #F1F1F1">
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </td>
              </tr>
              <tr>
                <td width="100%" bgcolor="#FFFFFF" style="vertical-align:top;background-color:#ffffff">
                  <table cellpadding="0" cellspacing="0" align="center" style="width:560px">
                    <tbody>
                      <tr>
                        <td style="vertical-align:top;background-color:#ffffff">
                          <p style="margin-bottom:21px;color:#666666;font-size:13px;line-height:1.5em;font-weight:normal;margin-top:0;vertical-align:bottom">
                          </br>
                            <b>云速 — 畅游网络，只需三步！</b>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
			  <tr>
                <td width="100%" bgcolor="#FFFFFF" style="vertical-align:top;background-color:#f9f9f9">
					<table cellpadding="0" cellspacing="0" align="center" style="padding-top:20px;width:560px">
						<tbody>
						  <tr>
							<td style="vertical-align:top">
							  <p style="margin-bottom:21px;color:#999!important;font-size:12px;line-height:21px;font-weight:300;margin-top:0">
								此为系统邮件，请勿回复。
								</br>
								如有问题您可以到会员中心提交工单或者发送邮件到
								<a href="mailto:support@yunsu-web.herokuapp.com" style="color:#aaaaaa!important;text-decoration:underline" target="_blank">support@yunsu-web.herokuapp.com</a>
								寻求帮助
								</br>
								Copyright All Rights Reserved 
								<a href="http://yunsu-web.herokuapp.com" style="color:#aaaaaa!important;text-decoration:underline" target="_blank">yunsu-web.herokuapp.com</a>
							  </p>
							</td>
						  </tr>
						</tbody>
				  </table>
				</td>
              </tr>
			  <tr>
                <td width="100%" style="vertical-align:top;">
                  <table cellpadding="0" cellspacing="0" align="center" style="background:#dddddd;height:12px;margin-bottom:30px;width:100%;border-bottom-right-radius:10px;border-bottom-left-radius:10px">
                  </table>
                </td>
              </tr>
            </tbody>
          </table>          
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
